

<div ng-controller="filterController">
    <div class="panel">
        <div class="panel-heading">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Film Search" ng-model="searchKeyword">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-stripped table-bordered">
                <thead>
                    <tr>
                        <th class="col-xs-1"></th>
                        <th class="col-xs-3" ng-click="changeFilterType('title')">Title</th>
                        <th class="col-xs-3" ng-click="changeFilterType('category')">Category</th>
                        <th class="col-xs-3" ng-click="changeFilterType('directorName')">Director</th>
                        <th class="col-xs-2" ng-click="changeFilterType('year')">Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in list.movies| orderBy: filterType| filter: searchKeyword">
                        <td>
                            <button type="button" class="btn btn-sm " ng-click="deleteMovie(movie)">delete</button>
                        </td>
                        <td>{{movie.title}} </td>
                        <td>{{movie.category}}</td>
                        <td>{{movie.directorName}}</td>
                        <td>{{movie.year}}</td>

                    </tr>
                </tbody>
            </table>
            <p> You can change ordering by click on table headers..</p>
            <p> Movies count:  <strong>{{list.movies.length}}</strong></p>

            <div>
                <button>
                    <a href="/add" class="btn btn-xs ">Add Movie</a>
                </button>
            </div>
        </div>
    </div>
</div>



<div ng-controller="SearchByTitleController">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="closeSearch()">
        PUSH to download movie from database by title..
    </button>
    <div class="collapse" id="collapseExample">
        <div class="well">

            <form class="form-inline" name="formForTitle">
                <div class="form-group">
                    <label class="sr-only" for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="filmByTitle" required>
                </div>
                <button type="submit" class="btn btn-default" ng-click="getMovieByTitle(filmByTitle)" ng-disabled="formForTitle.$invalid">Download..</button>
            </form>

            <div ng-show="errorDissable">
                <p>
                    <font color="red">
                        FIlm <strong>{{textForError}}</strong> not found..
                    </font>
                </p>
            </div>
            <div>
                <table class="table table-stripped table-bordered" ng-show=movieByTitle.length>
                    <thead>
                        <tr>
                            <th class="col-xs-3">Title</th>
                            <th class="col-xs-3">Category</th>
                            <th class="col-xs-3">Director</th>
                            <th class="col-xs-2">Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{movieByTitle.title}} </td>
                            <td> {{movieByTitle.category}}</td>
                            <td> {{movieByTitle.directorName}}</td>
                            <td> {{movieByTitle.year}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
